body{
  background-color: cornsilk;
  text-align: center;
}
.favorites{
  border: 1px black solid;
}
.searchList{
  border: 1px black solid;
}
.dateResults{
  border: 1px black solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Results{
  border: 1px black solid;
  padding: 2px;
  flex-basis: 40%;
}